<div class="bg-light h-100">
  <div class="container-fluid bg-info text-info">0</div>
  <div class="container-fluid bg-white shadow-sm">
    <div class="row">
      <div class = "col">
          <img [src] = 'logoUrl'
          title = 'logo' />
      </div>
      <div class = "col-1">
        <i class="material-icons md-48 pt-3">add_shopping_cart</i>
      </div>
    </div>     
    <!-- <p>Your one stop store for awesome Toys</p>  -->
  </div>
  <div class="container-fluid">  
    <ecom-productcatalog></ecom-productcatalog>
  </div>
</div>