<div class="card shadow" style="width: 18rem;">
    <!-- <img class="card-img-top shadow" [src]="product.imagePath" [alt]="product.productName">
    <div class="card-body shadow">
      <h5 class="card-title">{{product.productName}}</h5>      
      <p class="card-text">{{product.unitPrice | currency:'CAD':'symbol':'1.2-2'}}</p>
      <p class="card-text small">{{product.description}}</p>
    </div>
    <div class="card-footer align-middle bg-secondary">
        <div class="row">
            <button type="button" class="btn btn-sm btn-outline-danger align-middle">
                <i class="material-icons">exposure_neg_1</i>
            </button>
            <div class="col text-center align-middle text-white">
                <h5>0</h5>
            </div>
            <button type="button" class="btn btn-sm btn-outline-success align-middle">
                <i class="material-icons">exposure_plus_1</i>
            </button>
        </div>
    </div> -->
</div>